@font-face {
  font-family: "Departure Mono";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Redaction-100";
  src: url("/fonts/Redaction_100-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --space-s: 1em;
  --space-m: 2em;
  --font: sans-serif;
  --grid-s: 1fr 1fr;
  --grid-m: 1fr 1fr 1fr;
}

.theme-matrix {
  --color-primary: #0f2015;
  --color-secondary: #01f801;
}

.theme-neon {
  --color-primary: #221a2e;
  --color-secondary: #a95fe9;
}

.theme-system {
  --color-primary: #0a192e;
  --color-secondary: #00b7ff;
}

img {
  max-width: 100%;
}

/* https://www.magicpattern.design/tools/css-backgrounds */

.bg-dots {
  background-color: #000;
  opacity: 1;
  background-image: radial-gradient(#1f1f1f 0.25px, #000 0.25px);
  background-size: 5px 5px;
}

.bg-squares {
  background-color: #000;
  opacity: 1;
  background-image: linear-gradient(#0e0e0e 0.6000000000000001px,
      transparent 0.6000000000000001px),
    linear-gradient(to right,
      #000000 0.6000000000000001px,
      #000 0.6000000000000001px);
  background-size: 5px 5px;
  animation: crt-scroll 10s linear infinite;
}

.bg-lines {
  background-color: #000;
  opacity: 1;
  background-size: 5px 5px;
  background-image: repeating-linear-gradient(0deg,
      #1f1f1f,
      #1f1f1f 0.6000000000000001px,
      #000 0.6000000000000001px,
      #000);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Redaction", monospace;
  font-size: 40vw;
  position: absolute;
  color: #252525;
  user-select: none;
  bottom: -26vh;
  left: -5vw;
  margin: 0;
  padding: 0;
}

.splash {
  color: var(--color-secondary);
  font-family: "Departure Mono", monospace;
  font-size: var(--size-s);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

footer {
  border-top: 1px solid rgb(55, 55, 55);
  color: rgb(91, 91, 91);
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

.booting {
  height: 98vh;
  overflow: hidden;
  position: absolute;
}

.text {
  margin-left: var(--space-l);
}

.highlight {
  background: var(--color-secondary);
  margin-left: var(--space-m);
  color: var(--color-primary);
  text-transform: uppercase;
}

.subtitle {
  margin-left: var(--space-m);
  text-transform: uppercase;
}

.header {
  margin-left: var(--space-m);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.step {
  margin-left: var(--space-m);
  display: inline-block;
}

.logo {
  opacity: 0;
}

footer ul li:first-of-type {
  margin-right: auto;
}

.logo {
  font-family: "Redaction-100";
  color: #fdfdfd;
  animation: fadein 100ms 100ms ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.03;
  }
}
@keyframes crt-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 5px;
  }
}
h1 span {
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
    filter: blur(3px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    /* transform: translateY(-0.2em); */
    filter: blur(1px);
  }

  100% {
    opacity: 1;
    /* transform: translateY(0); */
    filter: blur(0px);
  }
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.booting .step {
  opacity: 0;
}

.highlight {
  opacity: 0;
}

.highlight-normal {
  opacity: 1;
}

.one {
  animation: fade 300ms 500ms ease forwards;
}

.two {
  animation: fade 300ms 1s ease forwards;
}

.three {
  animation: fade 300ms 1500ms ease forwards;
}

.four {
  animation: fade 300ms 2000ms ease forwards;
}

.five {
  animation: fade 300ms 2500ms ease forwards;
}

.six {
  animation: fade 300ms 5000ms ease forwards;
}

.seven {
  animation: fade 300ms 5200ms ease forwards;
}

.eight {
  animation: fade 300ms 5400ms ease forwards;
}

.nine {
  animation: fade 300ms 5600ms ease forwards;
}

.ten {
  animation: fade 300ms 8000ms ease forwards;
}

.eleven {
  animation: fade 300ms 8200ms ease forwards;
}

.highlight-one {
  animation: fade 300ms 4s ease forwards;
}

.highlight-two {
  animation: fade 300ms 7s ease forwards;
}

.active {
  background: transparent !important;
}

.pixelate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  pointer-events: none;
  z-index: 20;
  transition: 1s;
}

.pixel {
  background: var(--color-primary);
}

.search {
  display: flex;
  align-items: center;
  opacity: 0;
  position: absolute;
  bottom: 64px;
  left: 0em;
  width: 100%;
  height: 3.56vh;
  background: white;
  color: black;
}

label {
  margin-left: 2em;
}

input {
  border: none;
  background: white;
  margin-left: 1.5em;
  font-family: "Departure Mono", monospace;
  font-size: 1em;
  height: 96%;
  outline: none;
  width: 100%;
}

.intro span,
.contact span,
.biography span,
.projects span,
.version span {
  max-width: 30vw;
  display: inline-block;
}

.intro {
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  visibility: hidden;
}

.stripes {
  position: absolute;
  left: 0;
  top: 0;
}

.description {
  margin-left: 4em;
  font-weight: 600;
}

.description-large {
  margin-left: 6em;
}

.asci {
  margin-left: 2em;
  max-width: 40vw;
}

.list {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted rgb(80, 80, 80);
  margin-left: 2em;
  max-width: 30vw;
}

svg {
  margin-left: 2em;
}

ul[data-category] {
  display: none;
}

.asci-os {
  width: 15vw;
  margin-left: 2em;
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.designtitle {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

footer div {
  display: flex;
}

.rotate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: rotate 5s linear infinite;
  vertical-align: middle;
  width: 1ch;
  height: 1em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

figure {
  width: 30vw;
  margin-left: 2em;
  border: 5px solid white;
}

figcaption {
  background: white;
  color: black;
}

figure img {
  height: 20vh;
  object-fit: cover;
}
